/**************** 
 RECIPE COLLECTION               
*****************/

.find-recipe-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  /* padding: 1em; */
  margin: 1rem;
}

#find-recipe-header{
  font-family: 'Montserrat';
}

.refine-search-form {
  display: flex;
  border-radius: 5px;
}

.find-recipe-search {
  text-indent: 0.5rem;
  height: 25px;
  width: 65%;
  text-align: left;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border: 1px black solid;
  border-left: none;
  border: none;
  /* margin: 1rem 0; */
}

.submit-recipe-search-btn {
  width: 2.5em;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border: 1px black solid;
  border-left: none;
  border: none;
}

#recipes-and-total-container{
  display: flex;
  flex-direction: row;
}

.recipe-selection {
  display: flex;
  flex-direction: row;
  width: 70%;
  flex-wrap: wrap;
  overflow-y: scroll;
  max-height: 100vh;
  /* flex: 2; */
}

.recipe-selection::-webkit-scrollbar {
  background: transparent;
}

.current-recipe-collection {
  flex: 1;
  display: flex;
  flex-direction: column;
}

#current-recipe-name-form{
  font-family: 'Montserrat';
  margin-left: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 50%;
  height: 100px;
}