/**************** 
RECIPE COLLECTION
*****************/

#collection-containers {
  /* display: flex;
   justify-content: space-around; 
  flex-wrap: wrap;
  padding: 0 2rem; */
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
}