/**************** 
MY ACCOUNT              
*****************/

.my-account-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5rem;
  font-family: var(--main-font);
}

.macro-update-form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.macro-update-form {
  display: flex;
  flex-direction: column;
  width: 400px;
}

.macro-update-form input,
.macro-update-form button {
  height: 1.5rem;
}


#macros-subtext {
  opacity: 50%;
  margin: 1rem 0;
}

.macro-update-form button {
  margin-top: 1rem;
  cursor: pointer;
  border: 0;
  border-radius: 4px;
  font-weight: 600;
  font-family: var(--main-font);
  height: 2rem;
  box-shadow: 0 0 20px rgba(104, 85, 224, 0.2);
  transition: 0.15s;
  border: 1px solid var(--secondary-color);
  background-color: var(--secondary-color);
  color: white;
}

.macro-update-form button:hover {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}