/**************** 
 NAVBAR               
*****************/

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 90px;
  background-color: var(--secondary-color);
  font-family: var(--main-font);
}

nav h1 {
  margin-left: 2rem;
}

.nav-links {
  list-style-type: none;
  display: flex;
  align-items: center;
}

.nav-links a {
  color: black;
  text-decoration: none;
  margin: 0.75rem;
}

.nav-links button {
  font-family: var(--main-font);
  padding: 0.65rem;
  margin-right: 0.75rem;
}