/**************** 
 RECIPE TEMPLATE               
*****************/

.recipe-template {
  background-color: white;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 20%;
  font-family: var(--main-font);
}

.recipe-image {
  font-size: 1rem;
}

.recipe-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.recipe-info-name {
  font-size: 1.5rem;
}

.recipe-info-macros-container {
  font-size: 0.5rem;
  display: grid;
  grid-template-columns: repeat(3, 10em);
  margin: 1em;
}

.serving-macros-title,
.macros-count-title,
.recipe-info-macros-amount,
.recipe-info-macros-count {
  border: solid 1px black;
  text-align: center;
}

.macros-summary,
.macros-count-label {
  font-size: 0.5rem;
  border: solid 1px black;
  text-align: center;
  vertical-align: middle;
}

.recipe-delete-btn {
  font-family: var(--main-font);
  padding: 10px 10px;
  margin: 5px 10px;
  max-width: 100px;
  border: none;
  border-radius: 5px;
  background-color: red;
  color: white;
}

.recipe-delete-btn:active {
  box-shadow: 2px 2px 5px gray;
}