:root {
  --primary-color: #9DC08B;
  --secondary-color: #609966;
  --tertiary-color: #40513B;
  --background-color: #EDF1D6;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  background-color: var(--background-color);
  margin: 0;
}

/**************** 
 NAVBAR               
*****************/

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 90px;
  background-color: var(--secondary-color);
  font-family: 'Montserrat';
}

nav h1 {
  margin-left: 2rem;
}

.nav-links {
  list-style-type: none;
  display: flex;
  align-items: center;
}

.nav-links a {
  color: black;
  text-decoration: none;
  margin: 0.75rem;
}

.nav-links button {
  font-family: 'Montserrat';
  padding: 0.65rem;
  margin-right: 0.75rem;
}

/**************** 
  LOGIN            
*****************/

#login-component-container{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
}

#login-container{
  font-family: 'Montserrat';
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 400px;
  height: 500px;
  background-color: white;
  padding: 2rem;
  border-radius: 10px;
}

#form-container{
  margin-top: 4rem;
  display: flex;
  flex-direction: column;
  width: 60%;
}

#login-title{
  margin: 0;
}

.input-tag{
  margin: 1rem 0;
}

/**************** 
 SET UP MACROS              
*****************/

#macro-setup-container{
  display: flex;
  justify-content: center;
  margin-top: 5rem;
}

#macro-setup-form-container{
  font-family: 'Montserrat';
  display: flex;
  flex-direction: column;
  align-items: center;
}

#macro-form-container{

  display: flex;
  flex-direction: column;
  width: 400px;
}

#macros-subtext{
  opacity: 50%;
  margin: 1rem 0 ;
}


/**************** 
 RECIPE TEMPLATE               
*****************/

.recipe-template {
  background-color: white;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 400px;
  font-family: 'Montserrat';
}

.recipe-image {
  
}

.recipe-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.recipe-info-name {
  font-size: 50px;
}

.recipe-info-macros-container {
  display: flex;
  flex-direction: row;
  /* align-items: center; */
  align-items: space-between;
}

.regular-serving-macros {
  display: flex;
  flex-direction: column;
  text-align: right;
  background-color: lightblue;
  margin: 1rem;
}

.single-serving-macros {
  display: flex;
  flex-direction: column;
  text-align: right;
  background-color: lightpink;
  margin: 1rem;
}