:root {
  --primary-color: #9dc08b;
  --secondary-color: #609966;
  --tertiary-color: #40513b;
  --background-color: #edf1d6;
  --main-font: 'Lato';
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--background-color);
  margin: 0;
}

@import 'Navbar.css';
@import 'Login.css';
@import 'SetUp.css';
@import 'RecipeTemplate.css';
@import 'PieChart.css';
@import 'RecipeCollection.css';
@import 'RecipeCollectionItem.css';
@import 'FindRecipe.css';
@import 'Home.css';
@import 'MyAccount.css';



